main {
    height: 100%;
    padding-top: 5rem;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin: 7rem 0rem 8rem 0rem;
}

.info-selector {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.text-area{
    width: 30rem;
}

#product-info,#specifications{
    padding: 5px 40px;
    background: gray;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3)
}

#product-info:hover,#specifications:hover{
    transform: scale(102%);
    transition: ease-in-out 0.05s;
}

#specs{
    display: none;
}

#product-description{
    display: block;
    margin-right: 2rem;
    width: 80%;
}

#title {
    margin-top: 0;
}

.main-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

p {
    color: #d9d9d9;
}

.price {
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cart-button {
    float: right;
    border: solid black 2px;
    background-color: #A0A0A0;
    height: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

/* Cart popup */
#popup1{
    background-color: #f2f2f2;
    width: 10%;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
    padding: 0px 40px 0px;
    color: #333;
    visibility: hidden;
  }

  .checkmark{
    width: 5rem;
    padding-top: 10px;
  }

  .cart-text{
    color: black;
  }

  @media only screen and (max-width: 500px){
    .top-section {
        grid-template-columns: 1fr;
        margin: 1rem 2rem 2rem 2rem;
    }

    .main-img {
        width: 105%;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    h1{
        margin-left: 2rem;
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .image-section{
        width:80vw;
    }

    #title{
        margin-left: 0rem;
    }

    .info-selector {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
    }
    #product-info,#specifications{
        font-size: 100%;
        padding: 5px 35px;
    }
    #cart-button{
        margin-top: 0.5rem;
    }

    #product-description{
        width: 70%;
        margin-right: 0rem;
    }

    /* Cart popup */
    #popup1{
        background-color: #f2f2f2;
        width: 30%;
        border-radius: 10px;
        position: fixed;
        z-index: 2;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%) scale(1);
        text-align: center;
        padding: 0px 20px 0px;
        color: #333;
        visibility: hidden;
    }

    .checkmark{
        width: 3rem;
        padding-top: 10px;
    }

    .cart-text{
        color: black;
    }


  }